<div class='col-xs-10 col-xs-offset-1'>
  <p>TODAY IN NEWS</p>
  <h1 class='news-1'>
    <a href='https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=4&cad=rja&uact=8&ved=0ahUKEwiukYCA8cPNAhUIaz4KHePwAe0QqQIIJjAD&url=http%3A%2F%2Fwww.bbc.com%2Fnews%2Fuk-scotland-scotland-politics-36621030&usg=AFQjCNFER7aQGrqvu1USIVPJ5_qj5jC8rQ&sig2=yD_Ydc5qo7h1DSGy02QU3w&bvm=bv.125596728,d.cWw'>
      BREXIT
    </a>
  </h1>
</div>

<div class='box-1 col-xs-10 col-xs-offset-1'>
  <h1 class='news-2'>
    <a href='http://www.latimes.com/business/technology/la-fi-tn-uber-surge-20160624-snap-story.html'>
      UBER
    </a>
  </h1>
</div>

<div class='box-2 col-xs-10 col-xs-offset-1'>
  <h1 class='news-3'>
    <a href='http://www.cnn.com/2016/06/24/us/oakland-police-scandals/index.html'>
      POLICE
    </a>
  </h1>
</div>

<div class='box-3 col-xs-10 col-xs-offset-1'>
  <h1 class='news-4'>
    <a href='http://www.huffingtonpost.com/entry/bernie-sanders-vote-for-hillary-clinton_us_576d1e2be4b017b379f594ac'>
      SANDERS
    </a>
  </h1>
</div>

<div class='box-4 col-xs-10 col-xs-offset-1'>
  <h1 class='news-5'>
    <a href='http://www.nytimes.com/2016/06/25/nyregion/stonewall-inn-named-national-monument-a-first-for-gay-rights-movement.html?_r=0'>
      LGBTQ
    </a>
  </h1>
</div>